@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
html,
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--page-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  --nav-bg: #101010;
  --ride-bg: #171717;
  --page-bg: #292929;
  --badge-bg: #0a0a0a;
  --tab-bg: #c2bfbf;
  --active-tab-bg: #d7d7d7;
  --ride-title-bg: #737373;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
