.pagewrapper {
  min-height: 100vh;
}

.rides__wrapper {
  margin: 0 43px;
  /* padding-top: 36px; */
}
.home__nav__wrapper {
  margin: 10px 45px;
  align-items: center;
  gap: 20px;
  display: flex;
  list-style: none;
}
.home__nav__wrapper__left > li > p {
  cursor: pointer;
  transition: all 500ms;
}
.activetab {
  font-size: 18px;
  border-bottom: 2px solid;
  padding-bottom: 3px;
}

.unactivetab {
  color: #d0cbcb;
}

.home__nav__wrapper__left {
  flex: 1;
  gap: 20px;
  display: flex;
  list-style: none;
}
.home__nav__wrapper__right {
}
